@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    var userId = User.Id();
    var userIsAdmin = User.IsAdmin();
    var userIsGuest = User.IsGuest();

    @if (!userIsAdmin && !userIsGuest)
    {
        <div class="text-center">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to Vaya Beach Resort!</h1>
                <p class="lead">Your Guest Relations Team is here to make your vacation experience incredible!</p>
                <hr class="my-4">
                <p class="lead">
                    <a asp-controller="Guests" asp-action="Register" asp-route-id="@userId" class="btn btn-info btn-lg" role="button">Please, enter your reservation details</a>
                </p>
            </div>
        </div>
    }
    else if (userIsGuest)
    {
        <div class="text-center">
            <div class="jumbotron">
                <h1 class="display-4">I would like to use...</h1>
                <hr class="my-4">
                <p class="lead">
                    <a asp-controller="HotelServices" asp-action="Dining" asp-route-id="3" class="btn btn-info btn-lg" role="button">Dining services</a>
                    <a asp-controller="HotelServices" asp-action="Cleaning" asp-route-id="2" class="btn btn-info btn-lg" role="button">Cleaning services</a>
                    <a asp-controller="HotelServices" asp-action="Transport" asp-route-id="1" class="btn btn-info btn-lg" role="button">Transportation</a>
                </p>
            </div>
        </div>
    }
}
else
{
<div >
    <img src=@Url.Content("~/vaya.jpg") class="col-md-12 " style="height:500px" />
</div>
    
}


