@model IEnumerable<RequestServiceModel>

@{
    ViewBag.Title = "My Requests";
}

<h1>@ViewBag.Title</h1>

<partial name="_AllRequestsPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
