@model IEnumerable<RequestServiceModel>

@{
    ViewBag.Title = "My Requests";
}

<nav>
    <h1>@ViewBag.Title</h1>
    <a href="/Home/Index" class="btn btn-info d-lg-inline-flex float-right"> Create New</a>
</nav>
<br />

<partial name="_AllRequestsPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
